*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #a6d4e4;
}

.mainContainer{
    height: 100vh;
}

.title{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 80%;
    top: 22%;
    z-index: 2;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    text-decoration: underline;
    color: rgb(22, 22, 22);
}

.textContainer{
    text-align: center;
}

#textPanel{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 80%;
    bottom: 20%;
    z-index: 1;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.6);
}
.swiper .swiper-pagination-bullet-active{
    background: white;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
height: 100vh; /* For 100% screen height */
width: 100%;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
border-radius: 100px;
border: 10px;
overflow: hidden;

}

img{
    border-radius: 100px;
    border: 5px solid #dddddd;
}

.swiper{
    width: 100%;
    height: fit-content;
}

.swiper-slide img{
    width: 100%;
    height: fit-content;
}

.swiper .swiper-button-prev{
    color: white;
}
.swiper .swiper-button-next{
    color: white;
}

h1 { color: #4c4c5a; font-family: 'Trocchi', serif; font-size: 18px; font-weight: normal; line-height: 48px; margin: 0; font-weight: bold; }


h2 { color: #4c4c5a; font-family: 'Source Sans Pro', sans-serif; font-size: 15px; font-weight: 400; line-height: 32px; margin: 0 0 24px; }


.subheader { font-size: 26px; font-weight: 300; color: #ffcc66; margin: 0 0 24px; }


p { color: #4c4a37; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 32px; margin: 0 0 24px; }


a { color: #ff9900; background: #fff4a3; text-decoration: none; }


a:hover { color: #ffcc66 }
